<a href="https://colab.research.google.com/github/KALPARANJAN/durgasir/blob/master/colabdurgasirpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
name = input('enter your name:')
if name =='durga':
  print('helo durga')
else:
  print('helo guest')

enter your name:kal
helo guest

In [0]:
brand= input('enter your brand')
if brand == 'RO':
  print('childrens brand')
elif brand =='KO':
  print('Nice')
elif brand=='RC':
  print('not kick')
else:
  print('others are not allowed')

enter your brandRO
childrens brand

In [0]:
marks=int(input('enter marks:'))
if marks >= 90:
  print('GRADE O')
elif 80<=marks and marks<90:
  print('GRADE E')
elif marks>=70 and marks<80:
  print('GRADE A')
else:
  print('failed')

enter marks:78
GRADE A

In [0]:
marks=int(input('enter marks:'))
if marks >= 90:
  print('GRADE O')
elif 80<=marks:
  print('GRADE E')
elif marks>=70:
  print('GRADE A')
else:
  print('failed')

enter marks:94
GRADE O

In [0]:
marks=int(input('enter marks:'))
if marks >= 90:
  print('GRADE O')
if marks>=80:
  print('GRADE E')
if marks>=70:
  print('GRADE A')
else:
  print('failed')

enter marks:95
GRADE O
GRADE E
GRADE A

In [0]:
marks=int(input('enter marks:'))
if marks >= 90:
  print('GRADE O')
if marks>=80 and marks<90:
  print('GRADE E')
if marks>=70 and marks<80:
  print('GRADE A')

enter marks:95
GRADE O

In [0]:
num1= int(input('enter number'))
num2= int(input('enter number'))
num3= int(input('enter number'))
if num1> num2 and num1 > num3:
  print('The gretest number is ',num1)
elif num2 > num3:
  print('The gretest number is ',num2)
else:
  print('The gretest number is ',num3)

enter number47
enter number64
enter number9
The gretest number is  64

In [0]:
num1= int(input('enter number'))
num2= int(input('enter number'))
num3= int(input('enter number'))
if num1> num2 and num1 > num3:
  print('The gretest number is ',num1)
if num2 > num3 and num2 >num1:
  print('The gretest number is ',num2)
if num3 >num2 and num3 > num129:
  print('The gretest number is ',num3)

enter number84
enter number92
enter number30
The gretest number is  92

In [0]:
l=[10,20,30,40,50]
for x in l:
  print(x)

10
20
30
40
50

In [0]:
l=(10,20,30,40,50)
x=list(l)
x

[10, 20, 30, 40, 50]

In [0]:
for x in 'durga':
  print(x)

d
u
r
g
a

In [0]:
for x in '10':
  print(x)

1
0

In [0]:
for x in True:
  print(x)

TypeError: ignored

In [0]:
for x in 10.339:
  print(x)

TypeError: ignored

In [0]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [0]:
for i in range(10):
  print('Hello')

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

In [0]:
x=1
while x<=10:
  print('x')
  x=x+1

x
x
x
x
x
x
x
x
x
x

In [0]:
x=1
while x<=10:
  print(x)
  x=x+1

1
2
3
4
5
6
7
8
9
10

In [0]:
x=1
while x<=10:
  print('Hello')
  x=x++

SyntaxError: ignored

In [0]:
x=1
while x<=10:
  print('hello')
  x=x+1

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

# Nested loop

In [0]:
for i in range(3):
  print('#'*5)
  for j in range(3):
    print(j)
  print('$'*2)

#####
0
1
2
$$
#####
0
1
2
$$
#####
0
1
2
$$

In [0]:
for i in range(0,10):
  if i==5:
    break
  print(i)

0
1
2
3
4

In [0]:
for i in range(0,10):
  if i==5:
    break
  print('break')

break
break
break
break
break

In [0]:
for i in range(0,10):
  if i==5:
    break
    print('break')

In [0]:
for i in range(0,10):
  if i==5:
    break
  print(i)
print('break')

0
1
2
3
4
break

In [0]:
cart=[10,20,600,60,60]
for i in cart:
  if i>=100:
    break
  print(i)
print('break executed')

10
20
break executed

In [0]:
cart=[10,20,600,60,60]
for i in cart:
  if i>=100:
    continue
  print(i)
print('continue executed')

10
20
60
60
continue executed

In [0]:
cart=[10,20,600,60,60]
for i in cart:
  if i>=100:
    print('insurance must be required to place this order',i)
    break
  print(i)
print('break executed')

10
20
insurance must be required to place this order 600
break executed

In [0]:
cart=[10,20,600,60,60]
for i in cart:
  if i>=100:
    print('isurance required for',i,' to process further')
    break
  print('processing item ',i)
print('break executed as undesired :',i)

processing item  10
processing item  20
isurance required for 600  to process further
break executed as undesired : 600

In [0]:
for i in range(10):
  if i==5:
    continue
  print(i)

0
1
2
3
4
6
7
8
9

# For printing of odd number

In [0]:
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

# To print even number

In [0]:
for i in range(50):
  if i%2!=0:
    continue
  print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [0]:
cart=[10,20,600,60,700,20,1000,60]
for i in cart:
  if i>=100:
    continue
  print(i)
print('continue executed')

10
20
60
20
60
continue executed

# login page

In [0]:
n=10
if n>10:
  break
  print(n)

SyntaxError: ignored

# bonus

7
8
9
0
4
4

['4']

In [0]:
cart=[10,20,60,60,60]
for i in cart:
  if i>=100:
    break
  print(i)
else:
  print('congras for getting 10% discount')
print('outside of loop')

10
20
60
60
60
congras for getting 10% discount
outside of loop

In [0]:
cart=[10,20,600,60,60]
for i in cart:
  if i>=100:
    break
  print(i)
else:
  print('congras for getting 10% discount')

10
20

In [0]:
x= int(input('enter number'))
if x>=10:
  print('the number is')
else:

SyntaxError: ignored

In [0]:
x= int(input('enter number'))
if x>=10:
  print('the number is',x)
else:
  pass

enter number5

# Pass

In [0]:
class loan:
  pass
class goldloan(loan):
  pass
class homeloan(loan):
  pass

In [0]:
class loan:
  def m1(self):
    pass
class goldloan(loan):
  pass
class homeloan(loan):
  pass

In [0]:
class A:pass
class B:pass
class C:pass
class D:pass

# Practice problems

In [0]:
sum=count=done=0
average=0.0
while (done!=-1):
  rating=float(input('give rating from 1-5 and -1 for done'))
  if rating==-1:
    break
  sum+=rating
  count+=1
  average=float(sum/count)
  print('The average star rating for cofee is:{:.2f}'.format(average))

give rating from 1-5 and -1 for done6
The average star rating for cofee is:6.00
give rating from 1-5 and -1 for done3
The average star rating for cofee is:4.50
give rating from 1-5 and -1 for done4
The average star rating for cofee is:4.33
give rating from 1-5 and -1 for done-1

In [0]:
sum=count=done=0
average=0.0
while (done!=-1):
  rating=float(input('give rating from 1-5 and -1 for done'))
  if rating==-1:
    break
  sum+=rating
  count+=1
  average=float(sum/count)
  print('The average star rating for cofee is:{:.5f}'.format(average))

give rating from 1-5 and -1 for done4
The average star rating for cofee is:4.00000
give rating from 1-5 and -1 for done2
The average star rating for cofee is:3.00000
give rating from 1-5 and -1 for done3
The average star rating for cofee is:3.00000
give rating from 1-5 and -1 for done-1

In [0]:
sum=count=0
done=0
average=0.0
while (rating!=-1):
  rating=float(input('give rating from 1-5 and -1 for done'))
  if rating==-1:
    break
  sum+=rating
  count+=1
  average=float(sum/count)
  print('The average star rating for cofee is:{:.5f}'.format(average))

# {:.5f}------->used to make float upto 5 decimal point

In [0]:
print('v:{:.2f}'.format(123.456))  # {:number of digits.decimal point}
print('v:{:1.2f}'.format(123.456))
print('v:{: 6.5f}'.format(123.456))
print('v:{:05.2f}'.format(123.456))
print('v:{:12.2f}'.format(123.456))
print('v:{:012.2f}'.format(123.456))

v:123.46
v:123.46
v: 123.45600
v:123.46
v:      123.46
v:000000123.46

In [0]:
name = input('enter name of player')
count=0
score=0
sum=0
while (score!=-1):
  score=int(input('enter the score(-1 for exit)'))
  if score==-1:
    break
  sum+=score
  count+=1
  average=float(sum/count)
  print('average:{:6.3f}'.format(average))

enter name of playerrohit
enter the score(-1 for exit)28
average:28.000
enter the score(-1 for exit)19
average:23.500
enter the score(-1 for exit)49
average:32.000
enter the score(-1 for exit)-1

In [0]:
name = input('enter name of player')
count=0
score=0
sum=0
while (score!=-1):
  score=int(input('enter the score(-1 for exit)'))
  if score==-1:
    break
  sum+=score
  count+=1
  average=float(sum/count)
  print(name,average)#-------------

enter name of playerrohit
enter the score(-1 for exit)20
rohit 20.0
enter the score(-1 for exit)34
rohit 27.0
enter the score(-1 for exit)29
rohit 27.666666666666668
enter the score(-1 for exit)-1

In [0]:
name = input('enter name of player')
count=0
score=0
sum=0
while (score!=-1):
  score=int(input('enter the score(-1 for exit)'))
  if score==-1:
    break
  sum+=score
  count+=1
  average=float(sum/count)
  print('%-20s, your average score is: %4.1f'%(name,average))

enter name of playerro
enter the score(-1 for exit)67
ro                  , your average score is: 67.0
enter the score(-1 for exit)76
ro                  , your average score is: 71.5
enter the score(-1 for exit)66
ro                  , your average score is: 69.7
enter the score(-1 for exit)-1

In [0]:
  print(' %-6s,your average score is: %04.1f'%(name,average))

 ro    ,your average score is: 69.7

In [0]:
  print(' %-6s, %4.1f'%(name,average))

 ro    , 69.7

In [0]:
name = input('enter name of player')
count=0
score=0
sum=0
while (score!=-1):
  score=int(input('enter the score(-1 for exit)'))
  if score==-1:
    break
  sum+=score
  count+=1
  average=float(sum/count)
  print('%-5s,%5.6f'%(name,average))   #------------------imp

enter name of playerjadu
enter the score(-1 for exit)39
jadu ,39.000000
enter the score(-1 for exit)49
jadu ,44.000000
enter the score(-1 for exit)72
jadu ,53.333333
enter the score(-1 for exit)-1

In [0]:
print('%5s,%5.6f'%(name,average))

 jadu,53.333333

In [0]:
print('%-5s,%-5.6f'%(name,average))

jadu ,53.333333

In [0]:
numbers=[0,1,2,3,4,5,6,7,8,9]
index=0
while (numbers[index!=6]):
  if index==6:
    break
  index+=1
  print(numbers[index])

1
2
3
4
5
6

In [0]:
numbers=[0,1,2,3,4,5,6,7,8,9]
index=0
while (index>0):
  print(numbers[index])
  if numbers[index]==6:
    break
  else:
    index+=1

In [0]:
numbers=[0,1,2,3,4,5,6,7,8,9]
index=0
while (index<10):
  print(numbers[index])
  if numbers[index]==6:
    break
  else:
    index+=1

0
1
2
3
4
5
6

In [0]:
employee=input('enter date of birth(DD-MM-YYYY)format')
part=employee.split('-')
valid= False
if len(part)==3:
  if len(part[0])==2 and len(part[1])==2 and len(part[2])==4:
    if part[0].isdigit and part[1].isdigit and part[2].isdigit:
      valid=True
print(valid)

enter date of birth(DD-MM-YYYY)format14-06-1992
True

In [0]:
employee_number=input('enter emplyee number in format(dd-ddd-dddd)')
parts= employee_number.split('-')
valid=False
if len(parts)==3:
  if len(parts[0])==2 and len(parts[1])==3 and len(parts[2])==4:
    if parts[0].isdigit() and parts[1].isdigit and parts[2].isdigit:
      valid=True
else:
  valid=False
print(valid)

enter emplyee number in format(dd-ddd-dddd)834
False

In [0]:
def root(a,b):
  if a>=0:
    answer=a**(1/b)
  elif a%2==0:
    answer=('Result is an imaginary number')
  else:
    answer=-(-a)**(1/b)
  return answer

In [0]:
productidlist=[0,1,2,3,4,5,6,7,8,9]
index=0
while index<len(productidlist):
  print(productidlist[index])
  if productidlist[index]==6:
    break
  else:
    index=index+1

0
1
2
3
4
5
6

In [0]:
p=2
for i in range(2,p):
  while p<=200:
    if p%i==0:
      break
    else:
      print(p)
    p+=1

In [9]:
p=2
while p<200:
  for i in range(2,p):
    if p%i==0:
      break
    else:
      print(p)
    p+=1

KeyboardInterrupt: ignored