<a href="https://colab.research.google.com/github/KALPARANJAN/durgasir/blob/master/Pythontrial1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
p=2
while p<=200:
  prime=True
  for i in range(2,p):
    if p%i==0:
      prime=False
      break
  if prime==True:
      print(p)
  p=p+1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

In [8]:
p=2
prime=True
while p<=200:

  for i in range(2,p):
    if p%i==0:
      prime=False
      break
  if prime==True:
      print(p)
  p=p+1

2
3

In [10]:
n=int(input('enter the number upto which prime number should calculated'))
p=2
while (p<=n):
  prime=True
  for i in range(2,p):
    if p%i==0:
      prime=False
      break
  if prime==True:
    print(p)
  p+=1

enter the number upto which prime number should calculated16
2
3
5
7
11
13

In [11]:
n=int(input('enter the number upto which prime number should calculated'))
p=2
while (p<=n):
  prime=True
  for i in range(2,p):
    if p%i==0:
                    -------------------
      break
  if prime==True:
    print(p)
  p+=1

enter the number upto which prime number should calculated10
2
3
4
5
6
7
8
9
10

In [13]:
rooms={1:'left conference room',2:'right conference room'}
room=int(input('enter room number'))
if room not in rooms:
  print('room does not exist')
else:
  print('the room number is',rooms[room])

enter room number1
the room number is left conference room

In [14]:
rooms={1:'left conference room',2:'right conference room'}
room=int(input('enter room number'))
if room not in rooms:
  print('room does not exist')
else:
  print('the room number is'+rooms[room])

enter room number2
the room number isright conference room

In [43]:
ontime= input('whether rent before 8pm (y or n)').lower()
days_rented= int(input('How many days rented'))
day_rented= input('On which day book was rented').capitalize()

cost_per_day= 3.00
if ontime =='n':
  days_rented=days_rented+1
if day_rented=='sunday':
  total=days_rented*cost_per_day*0.5
elif day_rented=='saturday':
  total=(days_rented*cost_per_day)*0.7
else:
  total=(days_rented*cost_per_day)
  
print('cost of the book is $',total)

whether rent before 8pm (y or n)y
How many days rented3
On which day book was rentedsunday
cost of the book is $ 0

In [16]:
day_rented

'Monday,tuesday,wednesday'

## **Most imporatant programming**

In [44]:
ontime= input('whether rent before 8pm (y or n)').lower()
days_rented= int(input('How many days rented'))
day_rented= input('On which day book was rented').capitalize()

cost_per_day= 3.00
if ontime =='n':
  days_rented=days_rented+1
if day_rented=='sunday':
  total=days_rented*cost_per_day*0.5
elif day_rented=='saturday':
  total=(days_rented*cost_per_day)*0.7
else:
  total=(days_rented*cost_per_day)
  
print('cost of the book is $',total)

whether rent before 8pm (y or n)n
How many days rented3
On which day book was rentedsunday
cost of the book is $ 12.0

In [45]:
d= input('enter day of the week')
percentage_discount=3
if d=='monday':
  percentage_discount+=5
elif d=='Tuesday':
  percentage_discount+=7
elif d=='wednesday':
  percentage_discount+=10
else:
  percentage_discount+=2
print(percentage_discount)

enter day of the weekfriday
5

In [46]:
amount=int(input('enter the loan amount'))
intrest_rate=0
if amount >0 and amount<=50000:
  intrest_rate=10
if amount >50000 and amount<=100000:
  intrest_rate=12
if amount >100000 and amount<=150000:
  intrest_rate=16
print(intrest_rate)

enter the loan amount25000
10

In [49]:
marks=[30,40,50,45,50,100]
average=sum(marks)//len(marks)
print(average,sum(marks),len(marks))

52 315 6

In [53]:
marks=[30,40,50,45,50,100]
average=sum(marks)//len(marks)
grades={1:'A',2:'B',3:'C',4:'D'}
if average >=90 and average<=100:
  key =1
if average >=80 and average<=90: 
  key =2
if average >=70 and average<=80: 
  key =3
else: 
  key =4
print(grades[key])

D

In [0]:
a=12
b=4
s='He shall not be happy if he does not work'

In [61]:
result= 3 if None else a/b
result

3.0

In [62]:
result= s.find('not')if s else None
result

9

In [0]:
result= s.rfind('not')if s else None

In [67]:
s.find('he')

25

In [68]:
s.find('He')

0

In [70]:
collected_amount=3000
commission=0
if collected_amount<=2000:
  commission=50
elif collected_amount>=2500 and collected_amount<3000:
  commission=100
elif collected_amount>2500:
  commision=150
  if collected_amount<=3000:
    commission=200
commission

200

In [74]:
collected_amount=3000
commission=0
if collected_amount<=2000:
  commission=50
elif collected_amount>=2500 and collected_amount<3000:
  commission=100
elif collected_amount>2500:
  commision=150
  if collected_amount<=3000:
    commission+=200
commission

200